{% extends 'base.html' %}
{% load static %}
{% block header %}
    </header>
{% endblock %}

{% block section %}
    <section id="login-page" class="login-page">
      <h2>Twoje dane</h2>
        <form>
        <div class="form-group form-group--inline">
            <label>Imię:</label>
            <label>{{ user.first_name }}</label>
        </div>
         <div class="form-group form-group--inline">
             <label>Nazwisko:</label>
             <label>{{ user.last_name }}</label>
        </div>
        <div class="form-group form-group--inline">
            <label>Email:</label>
            <label>{{ user.email }}</label>
        </div>
            </form>
    </section>

        <section id="login-page" class="login-page">
      <h2>Twoje darowizny</h2>
        <form>
            {% for donation in donations %}
        <div class="form-group form-group--inline">
            <label>Organizacja:</label>
            <label>{{ donation.institution.name }}</label>
        </div>
         <div class="form-group form-group--inline">
             <label>Ilość worków:</label>
             <label>{{ donation.quantity }}</label>
        </div>
        <div class="form-group form-group--inline">
            <label>Przekazane rzeczy:</label>
            {% for category in donation.categories.all %}
            <label>{{ category.name }}</label>
            {% endfor %}
        </div>
        <div class="form-group form-group--inline">
             <label>Data odbioru:</label>
             <label>{{ donation.pick_up_date }}</label>
             <label>{{ donation.pick_up_time }}</label>
        </div>
            {% endfor %}
        </form>
    </section>

{% endblock %}

